<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<h1>About Alpha City</h1>
		<p>With rapidly increasing population densities, various resource shortages and climate change, the need for long-term sustainable urban development is now vital to ensuring a community’s prosperity. This project aims to use scenario planning to educate, communicate, and discover better methods of metropolitan improvement.
			Alphacity is a 3D browser based game, designed to inform users about the impact and function of town planning on a city or precinct. Using real-time, multi-player online technologies, users will make key decisions in their municipality and observe realistic feedback on how this might effect an actual urban environment.</p>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-4">
		<h2>The Team</h2>
		<p> Alpha city was create for a university of melbourne software engineering final 
		year project in collaboration with the school of architecture.
		</div>
		<div class="col-md-2"></div>
	</div>